script#template__gif(type='text/x-handlebars-template')
  section.padding
    .row.margin-bottom
      .small-12.columns
        h1
          a(href='#collection') &laquo; Collection
    .row.margin-bottom
      .gif.small-12.columns.margin-bottom
        .gif__overlay
          .gif__overlay__actions
            span.gif__action.gif__close(title='Close')
              i.icon.ion-close-round
            a.gif__action.gif__share(href='{{url}}', target='_blank', title='Open in new tab')
              i.icon.ion-share
            span.gif__action.gif__delete(title='Remove')
              i.icon.ion-trash-a
        img.responsive-horizontal.box-shadow(src='{{url}}', alt='')


script#template__gif__share(type='text/x-handlebars-template')
  form.action-overlay.overlay--share
    .action-overlay__actions.overlay--share__actions
      .row
        .small-8.small-centered.columns
          input.gif__share__input(type='text', value='{{shareUrl}}')
        .small-8.small-centered.columns
          button.button.large.secondary.overlay__close(type='button')
            i.icon.ion-close-round
            | Close


script#template__gif__delete(type='text/x-handlebars-template')
  form.action-overlay.overlay--confirm-delete
    .action-overlay__actions.overlay--confirm-delete__actions
      .row
        .small-8.small-centered.columns
          button.button.large.alert.gif__delete__button(type='submit')
            span.button__text
              i.icon.ion-checkmark-round
              | Delete it
        .small-8.small-centered.columns
          button.button.large.secondary.overlay__close(type='button')
            i.icon.ion-close-round
            | Cancel
