script#template__gif--public(type='text/x-handlebars-template')
  section.padding
    .row.margin-bottom
      .gif.small-12.columns.margin-bottom
        img.responsive-horizontal(src='{{url}}', alt='')
