//- A single GIF
script#template__gif(type='text/x-handlebars-template')
  figure.gif(class='gif--{{mode}}')
    img.gif__image(src='{{url}}', alt='')
    figcaption.gif__caption
      |{{#if isOwn}}
      span.gif__privacy(title='Privacy')
        |{{#if isPublic}}
        i.icon.ion-unlocked
        |{{else}}
        i.icon.ion-locked
        |{{/if}}
      |{{/if}}

      |{{#if isList}}
      span.gif__action.gif__action--view(title='View')
        i.icon.ion-eye
      |{{else}}
      span.gif__action.gif__action--close(title='Close')
        i.icon.ion-close-round
      |{{/if}}

      |{{#if isOwn}}
      span.gif__action.gif__action--delete(title='Remove')
        i.icon.ion-trash-a
      |{{else}}
      span.gif__action.gif__action--add(title='Add')
        i.icon.ion-plus-circled
      |{{/if}}

//- The delete overlay
script#template__gif__delete(type='text/x-handlebars-template')
  form.overlay.overlay--confirm-delete
    .action-overlay__actions.overlay--confirm-delete__actions
      .row
        .small-8.small-centered.columns
          button.button.large.alert.gif__delete__button(type='submit')
            span.button__text
              i.icon.ion-checkmark-round
              | Delete it
        .small-8.small-centered.columns
          button.button.large.secondary.overlay__close(type='button')
            i.icon.ion-close-round
            | Cancel
