script#template__index(type='text/x-handlebars-template')
  section.padding.margin-bottom
    .row.index__user-story
      .small-12.large-6.columns.index__user-story__quote
        blockquote
          span.quote-open “
          | gifalicious is a must have. It haz never been so easy to collect my deliciousest animated gifs. Meow.”
          small — An anonymous cat
        .text-center
          a.button.large.margin-bottom(href='#signup') Create a free account
      .small-12.large-6.columns.index__user-story__image
        img.responsive-horizontal(src='/images/cool-cat.gif', alt='An anonymous cat.')

  section.padding.bck.theme-dark
    .row
      .small-12.large-8.large-centered.columns.padding.text-center.color.white
        h1.index__title gifalicious makes it easy to remember and share the best animated gifs on the web.

  section.padding
    .row
      .small-12.large-4.columns.padding.text-center.index__feature
        .icon.heart.index__feature__icon
        .index__feature__text Your favorite gifs.
      .small-12.large-4.columns.padding.text-center.index__feature
        .icon.cloud.index__feature__icon
        .index__feature__text Always available in the cloudz.
      .small-12.large-4.columns.padding.text-center.index__feature
        .icon.share-alt.index__feature__icon
        .index__feature__text Easy to share.