//- Index page of gifalicious
section.index
  .grid
    .small-12.large-6.columns
      blockquote.index__quote
        | gifalicious is a must have. It haz never been so easy to collect my deliciousest animated gifs. Meow.
        small — An anonymous cat
      .index__action
        a.button.button--large.index__action__create-account(href='/create-account/') Create a free account
        br
        br
        | or &nbsp;
        a.index__action__signin(href='/signin/') Sign in
    .small-12.large-6.columns
      .index__image
        img(src='/images/cool-cat.gif', alt='An anonymous cat.')
