script#template__signup(type='text/x-handlebars-template')
  section.padding
    .row
      .small-12.large-8.large-centered.columns.margin-bottom
        h1 Sign Up
      p.small-12.large-8.large-centered.columns.margin-bottom
        | Join gifalicious to store your favorite animated GIFs.
    .row.margin-bottom
      .signup__error.error-message.message.hide.small-12.large-8.large-centered.columns
        | An error occured!
    form.row.margin-top
      .small-12.large-8.large-centered.columns
        label(for='signup__username') Username
        input#signup__username(type='text', name='signup__username', required='required')
      .small-12.large-8.large-centered.columns
        label(for='signup__password') Password
        input#signup__password(type='password', name='signup__password', required='required')
      .small-12.large-8.large-centered.columns.margin-top
        button.button(type='submit') Sign Up
        button.button.secondary.signup-view__cancel(type='button') Cancel
