//- Page for signing in
section.signin
  .grid
    .small-12.large-8.large-centered.columns
      h1 Sign in
  .grid
    .small-12.large-8.large-centered.columns.signin__error.message.message--error.message--hidden
      | An error occured!
  form.form.grid
    .small-12.large-8.large-centered.columns
      label(for='signin__username') Username
      input#signin__username.signin__username(type='text', name='signin__username', required='required')
    .small-12.large-8.large-centered.columns
      label(for='signin__password') Password
      input#signin__password.signin__password(type='password', name='signin__password', required='required')
    .small-12.large-8.large-centered.columns.margin-top
      .form__actions
        button.button.form__actions__button.signin__submit(type='submit')
          span.button__text Sign in
        button.button.button--secondary.form__actions__button.signin__cancel(type='button') Cancel
