//- Footer
footer.site-footer.grid
  .small-12.columns
    hr
  .small-3.columns
    .site-footer__content
      a.site-footer__content__social-link(href='https://twitter.com/gifalicious', target='_blank')
        i.icon.ion-social-twitter
  .small-9.columns
    .site-footer__content.site-footer__content--about
      | A project by&nbsp;
      a(href='http://katzki.de') Robert Katzki
      | .
