//- The site headers
header.site-header
  .grid
    .small-5.large-3.columns
      a.logo(href='/') gifalicious

    .gif-nav.gif-nav--integrated.large-6.columns.show-on-large
      .gif-nav__item
        a.gif-nav__item__link.gif-nav--integrated__item__link(href='/explore/') Explore
      .gif-nav__item
        a.gif-nav__item__link.gif-nav--integrated__item__link(href='/collection/') My GIFs

    .small-7.large-3.columns.user-nav-container

header.gif-nav.gif-nav--independent.hide-on-large
  .grid
    .gif-nav__item.small-6.columns
      a.gif-nav__item__link.gif-nav--independent__item__link(href='/explore/') Explore
    .gif-nav__item.small-6.columns
      a.gif-nav__item__link.gif-nav--independent__item__link(href='/collection/') My GIFs

script#template__site-header__user-nav(type='text/x-handlebars-template')
  nav.user-nav
    .user-nav__avatar
      //- .user-nav__avatar__image.avatar(style='{{userAvatar}}')
      .user-nav__avatar__username
        |{{#if username}}
        |{{username}}
        |{{else}}
        | Unknown user
        |{{/if}}
      i.user-nav__avatar__dropdown.icon.ion-arrow-down-b
    ul.user-nav__items.user-nav__items--hidden
      |{{#if isLoggedIn}}
      li.user-nav__items__item
        a.user-nav__items__item__link(href='/settings/') Settings
      li.user-nav__items__item
        a.user-nav__items__item__link(href='/signout/') Sign out
      |{{else}}
      li.user-nav__items__item
        a.user-nav__items__item__link(href='/signin/') Sign in
      li.user-nav__items__item
        a.user-nav__items__item__link(href='/create-account/') Create account
      |{{/if}}
