/**
 * Collections
 */
.collection
  font-size: 1rem
  &__title
    font-size: 2.25em
    padding-right: 4em
    &--invisible
      visibility: hidden
  &__add
    position: relative
    &__button
      position: absolute
      right: 1em
      top: 1em
    &__input-wrapper
      position: absolute
      left: 0
      right: 12em
      top: 0em
      height: 100%
      background: $white
      padding: 1.5em
      &--hidden
        display: none
  &__list
    &--empty
      text-align: center
      font-size: 2em
      color: lighten($text, 50%)
      padding: 3em 0
