/**
 * GIFs
 */
.gif
  font-size: 1rem
  box-shadow: 0 .1em 0.2em $black
  position: relative
  z-index: 1
  display: inline-block
  overflow: hidden
  text-align: center
  cursor: pointer
  padding: 1em
  background: 50% 50% no-repeat url(/images/loading.gif)
  &__image
    position: relative
    display: block
    min-height: 100%
  &__caption
    font-size: 1.25em
    backface-visibility: hidden
    bottom: 0
    padding: 1em
    height: 3.75em
    background: #fff
    color: #3c4a50
    transition: transform 0.35s
    transform: translate3d(0,100%,0)
  &:hover &__caption
    transform: translate3d(0,0,0)
    & .gif__action:nth-child(1)
      transition-delay: 0.1s
    & .gif__action:nth-child(2)
      transition-delay: 0.2s

// .gif__overlay
//   cursor: pointer
//   position: absolute
//   top: 1em
//   left: 1em
//   right: 1em
//   bottom: 1em
//   .gif &
//     cursor: auto

// .gif__overlay__actions
//   position: absolute
//   right: 0.3em
//   top: 50%
//   margin-top: -7em

// .gif__overlay__actions--one
//   margin-top: -2em

// .gif__status
//   display: none
//   color: darken($white, 5%)
//   color: rgba(darken($white, 5%), 0.9)
//   clear: right
//   float: right
//   font-size: 1.6em
//   font-weight: 400
//   width: 1.6em
//   height: 1.6em
//   margin: 0.75em
//   line-height: 1.6em
//   text-align: center
//   text-shadow: 0 .1em 0.2em lighten($black, 30%)
//   .gif__overlay:hover &
//     display: inline

// .gif__action
//   cursor: pointer
//   display: none
//   position: relative
//   color: lighten($text, 5%)
//   background: darken($white, 5%)
//   background: rgba(darken($white, 5%), 0.7)
//   clear: right
//   float: right
//   font-size: 1.3em
//   font-weight: 400
//   width: 2.3em
//   height: 2.3em
//   border-radius: 50%
//   margin: 0.75em
//   line-height: 2.3em
//   text-align: center
//   a& .icon
//     margin: 0

//   &:hover
//     background: $white
//     background: rgba($white, 0.9)
//     box-shadow: none
//     .icon
//       color: $text

//   .gif__overlay:hover &
//     display: inline

// .collection__gif
//   display: block
//   background-size: cover
//   background-repeat: no-repeat
//   background-position: 50%
//   height: 20em

// .action-overlay
//   position: absolute
//   top: 1em
//   left: 1em
//   right: 1em
//   bottom: 1em
//   background-color: rgba($black, 0.6)

// .action-overlay__actions
//   position: absolute
//   top: 50%
//   left: 0
//   right: 0
//   margin-top: -3.5em
//   text-align: center
//   button
//     margin: 1em
// .overlay--confirm-delete__actions
//   margin-top: -5.5em
