/**
 * GIFs
 */
.gif
  font-size: 1rem
  box-shadow: 0 .1em 0.2em $black
  position: relative
  z-index: 1
  display: inline-block
  overflow: hidden
  text-align: center
  cursor: pointer
  padding: 0
  margin: 0
  width: 100%
  background: 50% 50% no-repeat url(/images/loading.gif)
  &--list
    height: 20em
  &__image
    position: absolute
    top: 50%
    transform: translate(0, -50%)
    display: block
    min-width: 100%
    min-height: 100%
  &__caption
    position: absolute
    display: block
    backface-visibility: hidden
    top: 0
    right: 0
    bottom: 0
    padding: 0
    margin: 0
  &:hover &__action
    transform: translate(0, 0)
  &__action
    position: absolute
    right: .5em
    top: 50%
    display: inline-block
    cursor: pointer
    font-size: 1.75em
    width: 2em
    height: 2em
    line-height: 2em
    border-radius: 50%
    color: lighten($text, 10%)
    background: darken($white, 5%)
    background: rgba(darken($white, 5%), 0.7)
    text-align: center
    transition: transform 0.35s
    transform: translate(150%, 0)
    &--close, &--view
      margin-top: -2.5em
      transition-delay: .1s
    &--delete, &--add
      margin-top: .5em
      transition-delay: .2s
    &:hover
      background: $white
      background: rgba($white, 0.9)
      box-shadow: none
      color: $text
  &__privacy
    position: absolute
    font-size: 1.75em
    right: -1.5em
    top: -0.75em
    width: 4em
    height: 2.5em
    line-height: 3.25em
    display: inline-block
    cursor: pointer
    color: lighten($text, 10%)
    background: darken($white, 5%)
    background: rgba(darken($white, 5%), 0.7)
    transform: rotate(45deg)
    .icon
      transform: rotate(-45deg)
    &:hover
      background: $white
      background: rgba($white, 0.9)
      box-shadow: none
      color: $text

// .action-overlay
//   position: absolute
//   top: 1em
//   left: 1em
//   right: 1em
//   bottom: 1em
//   background-color: rgba($black, 0.6)

// .action-overlay__actions
//   position: absolute
//   top: 50%
//   left: 0
//   right: 0
//   margin-top: -3.5em
//   text-align: center
//   button
//     margin: 1em
// .overlay--confirm-delete__actions
//   margin-top: -5.5em
