/**
 * A message
 */
.message
  font-weight: 700
  text-transform: uppercase
  border-bottom-style: solid
  border-bottom-width: 0.1em
  &--error
    color: $alert
    border-bottom-color: $alert
  &--success
    color: $success
    border-bottom-color: $success
  &--hidden
    display: none
