/**
 * Site footer
 */
.site-footer
  font-size: 1rem
  &__content
    padding: 1em 0 3em 0
    &--about
      text-align: right
    &__social-link
      display: inline-block
      font-size: 2em
      margin-right: 0.5em
      margin-top: -0.3em
      color: $text
