.logo {
  font-family: 'Grand Hotel', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 3em
}

#navbar a {
  color: #fff;
}

.collection_list_item {
  padding: 1em;
  background: 50% 50% no-repeat url(/assets/images/loading.gif);
}

.collection__list__gif {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  height: 20em;
}
