extends /layouts/_default

block content
  include partials/_site-header

  .content
    include partials/_index

  include partials/_site-footer

  //- Templates
  script#template__index(type='text/x-handlebars-template')
    include partials/_index

  include partials/_create-account
  include partials/_signin
  include partials/_settings
  include partials/_collection
  include partials/_gif
  //- include partials/_gif-public

