extends /layouts/_default

block content
  #content

  include partials/_index
  include partials/_collection
  include partials/_gif
  include partials/_gif-public
  include partials/_signup
  include partials/_signin
  include partials/_user

