!!! 5
html.no-js
  head
    title gifalicious

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')

    meta(name='description', content='It\'s delicious for your favorite animated gifs.')
    meta(property='og:description', content='It\'s delicious for your favorite animated gifs.')
    meta(name='keywords', content='animated gifs, gif, gifs, delicious, gif collection, collect gifs')
    meta(property='og:author', content='gifalicious')
    meta(property='og:site_name', content='gifalicious.net')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://gifalicious.net/')

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')

    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')

    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:300,400,700', rel='stylesheet', type='text/css')

    // build:css /styles/main.css
    link(rel='stylesheet', href='styles/vendor/normalize.css')
    link(rel='stylesheet', href='styles/vendor/tuktuk.css')
    link(rel='stylesheet', href='styles/vendor/tuktuk.icons.css')
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

  body
    header#navbar.bck.dark.padding
      .row
        .small-4.columns
          a.logo.text-shadow(href='#') gifalicious
        nav.small-8.columns.text-right
          .hoodie-account-status.hoodie-account-signedout.hide
            a.navbar__signin.text-shadow(href='#signin') Sign in
            button.button.small.navbar__signup.text-shadow Create an account
          .hoodie-account-status.hoodie-account-signedin.hide
            a.navbar__user.text-shadow(href='#user')
              span.icon.user
              span.hoodie-username
            a.navbar__signout.text-shadow(href='#signout')
              span.icon.signout
              | Sign Out
          .hoodie-account-status.hoodie-account-error.hide
            span.text-shadow
              span.icon.user
              span.hoodie-username
            a.navbar__signin.text-shadow(href='#signin')
              span.icon.signin
              | Error: Sign in again
            a.navbar__signout.text-shadow(href='#signout')
              span.icon.signout
              | Sign Out

    block content

    // Footer
    footer.row.padding
      hr.margin-bottom.margin-top
      .small-12.columns.padding.text-center
        | Rocket science by 
        a(href='http://katzki.de') Robert Katzki
        |  at 
        a(href='http://ubilabs.net') Ubilabs
        | .

    // build:js /scripts/main.js
    script(src='scripts/vendor/lodash.min.js')
    script(src='scripts/vendor/handlebars.js')
    script(src='scripts/vendor/jquery2.min.js')
    script(src='scripts/vendor/backbone.min.js')
    script(src='scripts/vendor/hoodie.js')
    script(src='scripts/vendor/backbone-hoodie.js')
    script(src='scripts/vendor/tuktuk.js')
    script(src='scripts/vendor/hideShowPassword.js')
    script(src='scripts/models/gif.js')
    script(src='scripts/models/settings.js')
    script(src='scripts/collections/gifs.js')
    script(src='scripts/views/gif-abstract.js')
    script(src='scripts/views/gif.js')
    script(src='scripts/views/gif-public.js')
    script(src='scripts/views/user.js')
    script(src='scripts/views/index.js')
    script(src='scripts/views/signup.js')
    script(src='scripts/views/signin.js')
    script(src='scripts/views/navbar.js')
    script(src='scripts/views/collection.js')
    script(src='scripts/views/collection-gif.js')
    script(src='scripts/routers/router.js')
    script(src='scripts/main.js')
    // endbuild

    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41921035-1', 'gifalicious.net');
      ga('send', 'pageview');
