doctype html
html.no-js
  head
    title gifalicious

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width')

    meta(name='description', content='gifalicious makes it easy to remember and share the best animated gifs on the web.')
    meta(property='og:description', content='gifalicious makes it easy to remember and share the best animated gifs on the web.')
    meta(name='keywords', content='animated gifs, gif, gifs, delicious, gif collection, collect gifs')
    meta(property='og:author', content='gifalicious')
    meta(property='og:site_name', content='gifalicious.net')
    meta(property='og:image', content='http://gifalicious.net/logo.png')
    meta(property='og:type', content='website')
    meta(property='og:url', content='http://gifalicious.net/')

    link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')

    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')

    link(href='http://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:300,400,700', rel='stylesheet', type='text/css')

    // build:css /styles/main.css
    link(rel='stylesheet', href='/bower_components/ionicons/css/ionicons.css')
    link(rel='stylesheet', href='/styles/main.css')
    // endbuild

  body
    block content

    // build:js //scripts/main.js
    script(src='/bower_components/lodash/dist/lodash.js')
    script(src='/bower_components/handlebars/handlebars.js')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/backbone/backbone.js')
    script(src='/bower_components/hoodie/dist/hoodie.js')
    script(src='/bower_components/backbone-hoodie/src/backbone-hoodie.js')
    script(src='/bower_components/hideShowPassword/hideShowPassword.js')

    script(src='/scripts/models/gif.js')
    script(src='/scripts/models/settings.js')
    script(src='/scripts/collections/gifs.js')
    script(src='/scripts/views/gif-abstract.js')
    //- script(src='/scripts/views/gif.js')
    script(src='/scripts/views/gif-list.js')
    script(src='/scripts/views/settings.js')
    script(src='/scripts/views/index.js')
    script(src='/scripts/views/create-account.js')
    script(src='/scripts/views/signin.js')
    script(src='/scripts/views/site-header.js')
    script(src='/scripts/views/collection.js')
    script(src='/scripts/routers/router.js')
    script(src='/scripts/main.js')
    // endbuild

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-41921035-1', 'gifalicious.net');
      ga('send', 'pageview');
